@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: Open Sans,sans-serif;
    margin: 0;
}
img{
    width: 25px;
    margin: -8px 8px ;
    padding:  1px 0 ;
    font-size: 18px;
}
.con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    margin: 10px 0 0;
}
textarea{
    height: 300px;
    width:800px;
    padding: 15px;
    font-size: 15px;
}
h4{
margin: 5px 700px 5px 0;
}

.input{
    margin: 20px 0;
}
.input input{
    padding: 8px;
    width: 380px;
}
.check{
    margin-right: 690px;
   
}
.rep{
    display: flex;
    flex-direction: column;
   
    align-items: center
}
button{
    width: 800px;
    margin-top: 10px;
    padding: 10px;
    background-color: #1d4ed7;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
button:active{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
@media (max-width:500px) {
    textarea{
        width: 300px;
    }button{
        width: 300px;
    }h1{
        font-size: 22px;
    }.input input{
        width: 125px;
    }h4{
          margin: 5px 200px 5px 0;
    }.check{
        margin-right: 190px;
    }
}
@media  (min-width:500px) and (max-width:900px) {
    textarea{
        width: 550px;
    }button{
        width: 550px;
    }h1{
        font-size: 22px;
    }.input input{
        width: 251px;
    }h4{
          margin: 5px 450px 5px 0;
    }.check{
        margin-right: 441px;
    }
}